include LICENSE
include README.md

recursive-include docs *
recursive-include garage/templates *
recursive-include garage/*/templates *
recursive-include garage/static *

global-exclude docs/build
global-exclude .DS_Store *.hgignore *.hgtags *_hgignore.txt *_gitignore.txt *.gitignore *.git *.hg

